
.env
.DS_Store
__pycache__/data.cpython-311.pyc
*.pyc
__pycache__/data.cpython-311.pyc
*.pyc
*.pyc
fake.py
templates/old/check.html
templates/old/check.html
templates/old/check.html
templates/old/check.html
templates/old/check.html
templates/old/error-1.html
templates/old/home.html
templates/old/login.html
templates/old/member.html
templates/old/check.html
templates/old/check.html
templates/old/check.html
templates/old/check.html
templates/old/error-1.html
templates/old/home.html
*.pyc
