<!doctype html>
<html lang="en">

<head>
    <title>新增訂單頁面</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/template-test.css">
</head>

<body>
    <div class="container">
        <div class="row mt-3 text-center">
            <h2>訂單系統</h2>
        </div>
        <div class="row mt-3 mx-auto  justify-content-center middle-board2 pt-4">
            <!-- <div class="d-flex justify-content-center" style="margin-top: -40px;"> -->
            <div class="row mb-2 ms-1">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" class=" align-items-center d-flex"><ion-icon name="bag-outline" size="large"
                                    class=" d-inline-flex"></ion-icon>購物車內容</th>
                            <th><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" style="max-width: 90px;">編輯價格</button></th>
                        </tr>
                    </thead>
                    <form action="/cost" method="POST">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">品項</th>
                                    <th scope="col">數量</th>
                                    <th scope="col">金額</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for i in range(7)%}
                                <tr>
                                    <td>{{items[i][0]}} ${{price[i][1]}}</td>
                                    <td><input type="text" style="width: 45px; height:35px;" name="{{items[i][2]}}"
                                            class="me-1" value="{{items[i][1]}}">顆</td>
                                    <td><input type="text" style="width: 45px; height:35px;"
                                            class="me-1" value="{{each_cost[i][1]}}" disabled>元</td>
                                </tr>
                                {%endfor%}
                                <tr>
                                    <td><button class="btn btn-success">小計</button></td>
                                    <td style="font-weight:700; font-size: larger;color:red;">{{cost}}元</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </table>
            </div>
            <form action="/finish_order" method="POST">
                <div class="">
                    <b class="mt-2 mb-1">訂購電話<span style="color:red; font-size:13px !important;font-weight:500;" class="ms-2">*請確認電話是否正確*</span></b>
                    <div class="col mb-2">
                        <input type="text" id="phone" name="phone" placeholder="請輸入電話號碼">
                    </div>
                    <b class="mt-2 mb-1">訂單編號</b>
                    <div class="col mb-2">
                        <input type="text" id="order-number" name="order-number" value={{order_number}} placeholder="請輸入訂單編號" disabled>
                    </div>
                    <b class="mt-2 mb-1">取貨時間</b>
                    <div class="col">
                        <input type="datetime-local" id="order-time" name="order-time">
                    </div>
                    <div class="row justify-content-center">
                        <input type="submit" value="送出訂單" class="submit2 mt-5">
                    </div>
            </form>

        </div>
        <!-- </div> -->
        <div class="d-flex mt-5 justify-content-center px-5 mb-3">
            <a class="h6 flex" onclick="location.href='/order_page'">搜尋頁面</a>
            <a class="h6 flex mx-auto" onclick="location.href='/function'">會員系統</a>
            <a class="h6 flex" onclick="location.href='/logout'">點擊登出</a>
        </div>
    </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">編輯價格</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="font-weight: 500;">
                    <form action="/edit_price" method="POST">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">品項</th>
                                    <th scope="col">價格</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for i in price%}
                                <tr>
                                    <td>{{i[0]}}</td>
                                    <td><input type="text" style="width: 50px; height:35px;" name="{{i[2]}}"
                                            class="me-1" value="{{i[1]}}">元</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">確認更改</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        {%with messages = get_flashed_messages() %}
        {% for i in messages %}
        alert("{{i}}");
        {% endfor %}
        {% endwith %}
    </script>
</body>

</html>