<!DOCTYPE html>
<html lang="en">
  <head>
    <title>訂單查詢頁面</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/template-test.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="bookmark" href="/static/favicon.ico" />
  </head>

  <body>
    {% if order_notify != None %}
      <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement" data-original-class="toast-container position-absolute p-3" style="z-index:99;" style="background-color: white !important;">
        <div class="toast fade show end-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="#007aff"></rect>
            </svg>
            <strong class="me-auto">通知</strong>
            <small>當前</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body" style="background-color: white !important;">
            今日尚有{{order_notify}}張訂單未取<br>
            請先備妥商品！
          </div>
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="row mt-3 text-center">
        <h2>訂單系統</h2>
      </div>
      <div class="row mt-3 mx-auto justify-content-center middle-board2">
        <div class="d-flex mt-4 mb-2">
          <h4 class="m-2" style="color:black;" class="text-center">訂單查詢頁面<br /><br />{{ nickname }}您好</h4>
        </div>
        <!-- <div class="d-flex justify-content-center" style="margin-top: -40px;"> -->

        <form action="/search_order" method="POST" class="d-flex justify-content-center row align-items-center">
          <select class="form-select col d-inline-flex" aria-label="item" style="height: 50px" name="item">
            <option selected>請選取搜尋方式</option>
            <option value="order-number">訂單編號</option>
            <option value="phone">手機號碼</option>
            <option value="today">當日訂單</option>
            <option value="date">日期</option>
            <option value="number">總量</option>
          </select>
          <input type="text" id="style2" name="phone" placeholder="請輸入訂購電話或訂單編號" class="col-9" />
          <input type="submit" value="送出" class="submit2 mt-2" onclick="location.href='/check_old'" />
        </form>
        <!-- </div> -->
        <div class="d-flex mt-5 justify-content-center px-5 mb-3">
          <a class="h6 flex" onclick="location.href='/add_order_page'">訂單頁面</a>
          <a class="h6 flex mx-auto" onclick="location.href='/function'">會員系統</a>
          <a class="h6 flex" onclick="location.href='/logout'">點擊登出</a>
        </div>
      </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script>
        {% with messages = get_flashed_messages() %}
        {% for i in messages %}
        alert("{{i}}");
        {% endfor %}
        {% endwith %}
    </script>
  </body>
</html>
